/* reset page style */
* {
    box-sizing: border-box;
    font-family: monospace;
}

header {
    height: 100px;
    width: 100%;
    background-color: #282A36;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 35px;
}

h2 {
    margin: 20px 0;
    font-size: 25px;
}

section {
    height: auto;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Random cocktail button */
.randomCocktailBtn {
    padding: 10px 20px;
    border-radius: 15px;
    color: white;
    background-color: #5E34BE;
}

/* Search bar */
.searchBar {
    height: 50px;
    max-width: 500px;
    min-width: 250px;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 15px;
    margin: 0;
    padding: 0;
}

/* Set style for random drink feature */
.randomEleHolder {
    border-radius: 10px;
    height: 300px;
    width: 280px;
    padding: 10px;
    font-family: sans-serif;
    box-shadow: 10px 10px 5px #888888;
    background-color: bisque;
    margin: 20px auto;
    text-align: center;
    transition: all 2s;
}

.align_left {
    text-align: left;
}

.textWeight {
    font-weight: 700;
}

.randomEleHolder:hover {
    transform: scale(1.1);
}

.randomImg {
    border-radius: 10px 10px 0 0;
    height: 200px;
    width: 100%;
}

.card-cocktail {
    margin: 0 auto;
    border-radius: 10px;
    font-family: sans-serif;
    width: 280px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
    background-color: rgb(182, 244, 247);
    text-align: center;
    font-size: 13px;
}

.card-img-cocktail {
    height: 100px;
    width: 100px;
}

.setPaddingTop {
    padding-top: 20px;
}

/* set style for ingredients list  */

.ingredient-list {
    padding-left: 20px;
}

/* set style for hide card */
.hide {
    display: none;
}

/* set style for random button part*/
.buttonHolder {
    font-family: sans-serif;
    line-height: 40px;
    padding: 50px;
    text-align: center
}

.randomBtn {   
    width: 150px;
    height: 30px;
    color: rgb(72, 3, 117);
    font-weight: 700;
    border: none;
    outline: none;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(174, 213, 245);
    transition: background-color 300ms ease-in-out;
}

#searchBtn:hover {
    background-color: plum;
}

/* Recipe result including cocktail image, ingredients, and instructions */
.recipeResult {
    height: 650px;
    width: 425px;
    background-color: #C0ECF5;
    border-radius: 30px;
    margin: 20px 0;
}

/* Random Joke Display */
.randomJokeDisplay {
    height: 150px;
    width: 650px;
    background-color: #E5C3F5;
    border-radius: 30px;
    margin: 20px 0;
}
    border-radius: 10px;
    box-shadow: 0 0 15px #888888;
    transition: all 1.5s;
}

.randomBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}
