/* reset page style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

header {
    height: 100px;
    width: 100%;
    background-color: #282A36;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 2px;
}

h2 {
    margin: 20px 0;
    font-size: 25px;
}

h3 {
  padding: 5px 0 10px 0;  
  font-size: 25px;
}


section {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Random cocktail button */
.randomBtn {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    border-radius: 15px;
    color: white;
    background-color: #5E34BE;
    font-size: 20px;
    border: 1px solid #4e1ec0;
    outline: none;
    transform-style: preserve-3d;
    margin: 0 0 20px 0;
    transition: 0.15s cubic-bezier(0, 0, .6, 1);
}

.randomBtn::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    background-color: #bba8e8;
    border: inherit;
    outline: none;
    transform: translate3D(0, .75em, -1em);
    transition: 0.15s cubic-bezier(0, 0, .6, 1);
}
/* Button animations */
.randomBtn:hover {
    cursor: pointer;
    transform: translate(0, 0.25em);
}

.randomBtn:hover::before {
    transform:  translate3d(0, .5em, -1em);
}

.randomBtn:active {
    transform: translate(0, 0.75em);
}

.randomBtn:active::before {
    transform: translate3d(0, 0, -1em);
}

/* Search bar */
.searchBar {
    height: 50px;
    max-width: 500px;
    min-width: 250px;
    width: 100%;
    border: 1px solid black;
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 15px;
}

#userInput {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    background-color: transparent;
    margin-left: 20px;
}

#searchBtn {
    border: none;
    outline: none;
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: rgb(182, 244, 247);
    transition: background-color 300ms ease-in-out;
}

#searchBtn:hover {
    background-color: #E5C3F5;
    cursor: pointer;
}

/* Set style for random drink feature */
.randomEleHolder {
    border-radius: 20px;
    height: auto;
    min-height: 325px;
    width: 300px;
    padding: 20px 20px 0 20px;
    font-family: sans-serif;
    background-color: #E5C3F5;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
    transition: all 2s;
}

.align_left {
    text-align: left;
}

.textWeight {
    font-weight: 700;
}

.randomEleHolder:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.randomImg {
    border-radius: 10px;
    height: 245px;
    width: 100%;
}

.card-img-cocktail {
    height: 350px;
    width: 100%;
    border-radius: 20px;
}

/* set style for ingredients list  */

.ingredient-list {
    padding-left: 20px;
}

/* set style for hide card */
.hide {
    display: none;
}

/* Recipe result including cocktail image, ingredients, and instructions */
.recipeResult {
    height: auto;
    width: 425px;
    background-color: #C0ECF5;
    border-radius: 30px;
    margin: 20px 0;
    padding: 25px;
}

/* Random Joke Display */
.randomJokeDisplay {
    height: auto;
    max-width: 500px;
    background-color: #E5C3F5;
    border-radius: 30px;
    margin: 20px 0;
    text-align: center;
    line-height: 50px;
}


#searchHistory {
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    flex-wrap: wrap;
}

#searchHistory div{
    margin-left: 10px;
    margin-top: 10px;
}

.randomJokeDisplay p {
    display: inline-block;
    vertical-align: middle;
    margin: 15px;
  }




