/* reset page style */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set style for random drink feature */
.randomEleHolder {
    border-radius: 10px;
    height: 300px;
    width: 280px;
    padding: 10px;
    font-family: sans-serif;
    box-shadow: 10px 10px 5px #888888;
    background-color: bisque;
    margin: 20px auto;
    text-align: center;
    transition: all 2s;
}

.align_left {
    text-align: left;
}

.textWeight {
    font-weight: 700;
}

.randomEleHolder:hover {
    transform: scale(1.1);
}

.randomImg {
    border-radius: 10px 10px 0 0;
    height: 200px;
    width: 100%;
}

.card-cocktail {
    margin: 0 auto;
    border-radius: 10px;
    font-family: sans-serif;
    width: 280px;
    padding: 10px;
    box-shadow: 10px 10px 5px #888888;
    background-color: rgb(182, 244, 247);
    text-align: center;
    font-size: 13px;
}

.card-img-cocktail {
    height: 100px;
    width: 100px;
}

.setPaddingTop {
    padding-top: 20px;
}

/* set style for ingredients list  */

.ingredient-list {
    padding-left: 20px;
}

/* set style for hide card */
.hide {
    display: none;
}

/* set style for random button part*/
.buttonHolder {
    font-family: sans-serif;
    line-height: 40px;
    padding: 50px;
    text-align: center
}

.randomBtn {   
    width: 150px;
    height: 30px;
    color: rgb(72, 3, 117);
    font-weight: 700;
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px #888888;
    transition: all 1.5s;
}

.randomBtn:hover {
    transform: scale(1.2);
    cursor: pointer;
}
